{% extends 'base.html.twig' %}

{% block title %} Bienvenue | Stage UVCI {% endblock %}

{% block body %}
  <!-- Image Header -->
     
    <!-- Page  -->
    <div class="container">
    <img class="img-fluid rounded mb-2" src="images/ban.jpg" alt="">        
      <h1 class="my-1"><img src="images/1.png"></h1>
      <!-- Services -->
      <div class="row">
                <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header"><i class="fa fa-balance-scale"></i>   Soutenances</h4>
            <div class="card-body">
              <p class="card-text"><img src="images/Biblio.jpg" height="200px"></p>
            </div>
            <div class="card-footer">
              <a target="blank" href="https://bibliotheque.uvci.edu.ci/" class="btn btn-primary">Accéder</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header"><i class="fa fa-sticky-note"></i> Offres du Jour</h4>
            <div class="card-body">
              <p class="card-text"><img src="images/offre.png" height="200px"></p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Accéder</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header"><i class="fa fa-comments"></i> Forum d'échange</h4>
            <div class="card-body">
              <p class="card-text"><img src="images/for.png" height="200px"></p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Accéder</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2><img src="images/actu.png"></h2>
          <p>Suivez ici les actualités de la plateforme des stagiaires
          de l'Université Virtuelle de Côte d'Ivoire, tels que :</p>
          <ul>
            <li>
              <strong>Activités au sein de l'Espace Numérique de Travail</strong>
            </li>
            <li>Entretiens Stagiaires</li>
            <li>Soutenances & Thèses</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-lg-6">
          <iframe width="450" height="315" src="https://www.youtube.com/embed/Ne5cMzv2rLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- /.row -->

      <hr>
            <h2><img src="images/Part.png"></h2>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
      </div>
    </div>
    <!-- /.Page Contenu -->

{% endblock %}
