{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
      <!-- Image Header -->
      <h1><img class="img-fluid rounded" src="images/banserv.jpg" alt=""></h1>

            <div class="row">
          <div class="col-lg-4 mb-4">
              <div class="card h-100">
               <h4 class="card-header"><i class="fa fa-balance-scale"></i>   Soutenances</h4>
              <a href="#">
                <div class="card-body">
                <p class="card-text"><img src="images/Biblio.jpg" height="200px">
                </p>
              </div>
              </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header"><i class="fa fa-sticky-note"></i> Offres du Jour</h4>
            <a href="#">
              <div class="card-body">
              <p class="card-text"><img src="images/offre.png" height="200px"></p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header"><i class="fa fa-stack-overflow"></i> Rejoindre l'ENT</h4>
           <a href="#">
              <div class="card-body">
              <p class="card-text"><img src="images/ENT.png" height="200px"></p>
            </div>
           </a>
          </div>
        </div>
      </div>
        <!--Space-->
    </div>
{% endblock %}